## ---------- Basics
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target
# Git
/var/*
!/var/.gitignore
## ---------- Generic system files to ignore
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
# Linux
*~
.directory
# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
# Other
*.lock
*.swp
*.out
## ---------- Visual Studio Code project files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
## ---------- JetBrains IDEs (PhpStorm, WebStorm, PyCharm, etc.)
# Maven
!.mvn/wrapper/maven-wrapper.jar
# IntelliJ IDEA modules
*.iml
# Project settings folder
.idea/
## ---------- SublimeText
*.sublime-workspace
## ---------- Etc.